@import "./colours.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.close:hover {
  background-color: #cc0000;
  color: #fff;
}

.form {
  display: grid;
  gap: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: $yase-brown;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.form-button {
  padding: 10px 20px;
  background-color: $yase-purple;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px 0;
}

.button-add-development {
}

.button-add-development:hover {
  background-color: $yase-purple;
  color: #fff;
}

.form-button:hover {
  background-color: darken($yase-purple, 10%);
}

.form-button {
  background-color: $yase-purple;
}

.form-button:hover {
  background-color: darken($yase-purple, 10%);
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 16px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}

h3 {
  margin-top: 0;
  color: $yase-brown;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.remove-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.remove-icon:hover {
  background-color: darkred;
}

.link-text {
  max-width: 700px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  white-space: normal;
}
