@import "./colours.scss";

@mixin buttonBase($bg-color) {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  background-color: $bg-color;
  color: white;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 88vh;
  padding: 20px;
  gap: 20px;

  > .filterSection,
  .matchesSection,
  .selectionSection {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    > h2 {
      font-size: 1.75rem;
      color: $yase-brown;
      margin-bottom: 15px;
    }
  }

  > .filterSection {
    background-color: #f9f9f9;

    > form > .filterGroup {
      margin-bottom: 15px;

      > label {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  > .matchesSection {
    background-color: #fff;
  }

  > .selectionSection {
    background-color: #f9f9f9;
  }
}

// Media query for smaller screens
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .error {
    font-size: 0.7rem;
  }
}

select,
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  @include buttonBase($yase-purple);

  &:not(.addButton):not(.removeButton):hover {
    background-color: darken($yase-purple, 20%);
  }
}

.submitButton {
  @include buttonBase($yase-purple);
}

.addButton {
  @include buttonBase(#28a745);
  border-radius: 100px;
}

.removeButton {
  @include buttonBase(#ff4d4d);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.matchesList {
  list-style-type: none;
  padding: 0;

  > .matchItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .matchContent {
    flex: 1;
  }

  .matchName {
    font-weight: bold;
  }

  .availability {
    margin-top: 5px;
  }

  .bedInfo {
    font-size: 0.875rem;
    margin: 2px 0;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;

  > .cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    > .cardTitle {
      font-size: 1.25rem;
    }

    > .bedInfo,
    .selectionInfo {
      margin: 1px 0;
      font-size: 1rem;
    }

    > .selectionInfo {
      color: #666;
      font-size: 0.875rem;
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }
  }
}

.emailSection {
  margin-top: 20px;

  > .sendButton {
    margin-top: 10px;

    @include buttonBase($yase-purple);

    &:hover {
      background-color: darken($yase-purple, 10%);
    }
  }
}

.error {
  font-size: 1.5rem;
  color: red;
  text-align: center;
  width: 100%;
  height: 5vh;
  padding-top: 10px;
}

.scrollbarStyles {
  scrollbar-width: thin;
  scrollbar-color: $yase-purple $yase-brown;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $yase-purple;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $yase-brown;
  }
}

.filterSection,
.matchesSection,
.selectionSection {
  @extend .scrollbarStyles;
}
